<div>
    <div class="w3-card w3-round w3-white">
        <div>
          <h3 class="w3-center" style="color:rgb(0, 0, 0);text-transform: uppercase; letter-spacing: 3px;">{{user.username}}</h3>
          <p class="w3-center"><img src="{{user.photourl}}" class="w3-circle" style="height:85px;width:85px" alt="Display Picture"></p>
          <div class="w3-center">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
    </div>
</div>
<div><br>
<a [routerLink]="['/viewcompletedjob']" class="btn btn-sm animated-button victoria-one"> View Completed Jobs</a><br>
<a [routerLink]="['/viewactivejob']" class="btn btn-sm animated-button victoria-two"> View Active Jobs</a><br>
<a [routerLink]="['/viewcuspromotedjob']" class="btn btn-sm animated-button victoria-two"> View all promoted jobs</a><br>
</div>