<div class="row">
  <div class="column" style="background-color:#aaa;">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="column2" style="background-color:#bbb;min-height: 800px;">
    <div class="container">
      <div id="menuitem" >
        <ul *ngFor="let adslist of advertisments">
          <li>
            <button [routerLink]="[]" class="add">
              <div id="container" style="height:15%">
                <div class="row" style="height:15%">
                  <div class="col-dm-8 col-md-push-3" style="width:40%; padding-left:2% ">
                    <img src={{adslist.vendorURL}} id="pic" class="img-rounded" alt="" style="width:50%;">
                  </div>
                  <div class="col-dm-8 col-md-pull-8" style="width:50%;height:10%;padding-left: 5%;">
                    <h1 style="font-size:210%; margin-top: 20px;margin-left: -20%;"> {{ adslist.adTitle }}</h1><br>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ adslist.company }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ adslist.createdDateAndTime }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ adslist.expiredDateAndTime }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ adslist.adproviderid }}</h2>
                  </div>
                  <div style="margin-left:60%">
                  <button type="submit" class="btn btn-warning btn-md" >Warn User</button>
                  <button type="submit" class="btn btn-danger btn-md" >Remove User</button>
                  </div>
                </div>
              </div>
            </button>
        </ul>
      </div>


  </div>