<div class="row">
  <div class="column" style="background-color:#aaa;">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="column2" style="background-color:#bbb;min-height: 800px;">
    <div class="container">
      <div id="menuitem" >
        <ul *ngFor="let complainlist of complains">
          <li>
            <button [routerLink]="['/allrecipe',complainlist.complainid]" class="add">
              <div id="container" style="height:15%">
                <div class="row" style="height:15%">
                  <div class="col-dm-8 col-md-push-3" style="width:40%; padding-left:2% ">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTFIJE9WkxOxtpyTCG2rzWKzbnAcM_wwKeVffy_LJ8AAS2vskeYw" id="pic" class="img-rounded" alt="" style="width:50%;">
                  </div>
                  <div class="col-dm-8 col-md-pull-8" style="width:50%;height:10%;padding-left: 5%;">
                    <h1 style="font-size:210%; margin-top: 20px;margin-left: -20%;"> {{ complainlist.complain }}</h1><br>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ complainlist.complainid }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ complainlist.dateandtime }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ complainlist.status }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ complainlist.uid }}</h2>
                    <h2 style="font-size:110%;margin-left:-150%;">{{ complainlist.action }}</h2>
                  </div>
                  <div style="margin-left:70%">
                  
                  </div>
                </div>
              </div>
            </button>
        </ul>
      </div>


  </div>