<div class="nav-side-menu">
<!-- Profile -->
  <div class="w3-card w3-round w3-white">
    <div class="w3-container">
      <h4 class="w3-center">{{this.username}}</h4>
      <p class="w3-center"><img src="{{this.profurl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
      <hr>
      <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{this.userrole}}</p>
      <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{this.address}}</p>
    </div>
  </div>
  <br>
  <br>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li  data-toggle="collapse" data-target="#products" class="collapsed active">
            Create New User<span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="products">
            <a class="linkclass" [routerLink]="['/addadvertiser']"><li>create new advertiser</li></a>
            <a class="linkclass" [routerLink]="['/addadmin']"><li>create new admin</li></a>
            <a class="linkclass" [routerLink]="['/addsuperadmin']"><li>create new superadmin</li></a>
          </ul>
          <li data-toggle="collapse" data-target="#service" class="collapsed">
            Review Job Post <span class="arrow"></span>
          </li>  
          <ul class="sub-menu collapse" id="service">
            <a class="linkclass" [routerLink]="['/alljobpost']"><li>all job post</li></a>
            <a class="linkclass" [routerLink]="['/pendingjobpost']"><li>pending job post</li></a>
            <a class="linkclass" [routerLink]="['/acceptedjobpost']"><li>accepted job post</li></a>
            <a class="linkclass" [routerLink]="['/rejectedjobpost']"><li>rejected job post</li></a>
          </ul>
            <a class="linkclass" [routerLink]="['/searchusers']"><li> Search User</li></a>
          <li data-toggle="collapse" data-target="#new2" class="collapsed">
            Complains <span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="new2">
            <a class="linkclass" [routerLink]="['/reviewcomplain']"><li>unchecked</li></a>
            <a class="linkclass" [routerLink]="['/checkedcomplains']"><li>checked</li></a>
          </ul>
          <li data-toggle="collapse" data-target="#advertiesment" class="collapsed">
             Advertiesment <span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="advertiesment">
            <a class="linkclass" [routerLink]="['/addadvertiesment']"><li>add advertiesment</li></a>
            <a class="linkclass" [routerLink]="['/viewadvertisments']"><li>view addvertiesment</li></a>
          </ul>
        </ul>
       </div>
</div>