<div class="nav-side-menu">
<!-- Profile -->
  <div class="w3-card w3-round w3-white">
    <div class="w3-container">
      <h4 class="w3-center">{{this.username}}</h4>
      <p class="w3-center"><img src="{{this.profurl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
      <hr>
      <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Cleaner | Colombo</p>
      <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
      <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
    </div>
  </div>
  <br>
  <br>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li  data-toggle="collapse" data-target="#products" class="collapsed active">
            Create New User<span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="products">
            <a [routerLink]="['/addadvertiser']"><li>create new advertiser</li></a>
            <a [routerLink]="['/addadmin']"><li>create new admin</li></a>
            <a [routerLink]="['/addsuperadmin']"><li>create new superadmin</li></a>
          </ul>
          <li data-toggle="collapse" data-target="#service" class="collapsed">
            Review Job Post <span class="arrow"></span>
          </li>  
          <ul class="sub-menu collapse" id="service">
            <a [routerLink]="['/alljobpost']"><li>all job post</li></a>
            <a [routerLink]="['/pendingjobpost']"><li>pending job post</li></a>
            <a [routerLink]="['/acceptedjobpost']"><li>accepted job post</li></a>
            <a [routerLink]="['/rejectedjobpost']"><li>rejected job post</li></a>
          </ul>
          <li data-toggle="collapse" data-target="#new" class="collapsed">
            Reporting <span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="new">
            <li>want to add feild</li>
            <li>want to add feild</li>
          </ul>
          <li data-toggle="collapse" data-target="#new2" class="collapsed">
            Service<span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="new2">
            <li>want to add feild</li>
            <li>want to add feild</li>
          </ul>
        </ul>
       </div>
</div>
  
