
<div class="nav-side-menu">
    
    <img src="{{this.profurl}}" alt="profile Photo" id="profpic">
    <div class="brand">{{this.username}}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                
                  <a [routerLink]="['/adminhome']"><li>
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard</li>
                  </a>
                

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <i class="fa fa-users fa-lg"></i> Creat New User <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="products">
                  <a [routerLink]="['/addadvertiser']"><li>create new advertiser</li></a>
                  <a [routerLink]="['/addadmin']"><li>create new admin</li></a>
                  <a [routerLink]="['/addsuperadmin']"><li>create new superadmin</li></a>
              
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <i class="fa fa-th-list fa-lg"></i> Review Job Post <span class="arrow"></span>
                </li>  
                <ul class="sub-menu collapse" id="service">
                    <a [routerLink]="['/alljobpost']"><li>All Job Post</li></a>
                    <a [routerLink]="['/pendingjobpost']"><li>Pending Job Post</li></a>
                    <a [routerLink]="['/acceptedjobpost']"><li>Accepted Job Post</li></a>
                    <a [routerLink]="['/rejectedjobpost']"><li>Rejected Job Post</li></a>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                 <i class="fa fa-car fa-lg"></i> Reporting <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Alarmstatistik</li>
                  <li>Prozessfähigkeit</li>
                </ul>


                 <li>
                  <a [routerLink]="['/adminhome']">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li data-toggle="collapse" data-target="#new2" class="collapsed">
                  <i class="fa fa-car fa-lg"></i> Service <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="new2">
                  <li>Sensorkonfiguration</li>
                  <li>Betriebsarten</li>
                </ul>

            </ul>
     </div>
</div>
  
