<div class="row">
    <div class="column" style="background-color:#aaa;">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="column2" style="background-color:#bbb;">
        <div class="container" >
            <h2 style="margin-top: 5%">All Job Posts</h2>
            <div id="menuitem">
                <ul *ngFor="let jobs of job">
                <li *ngIf="jobs.status=='accepted'">
                    <div   class="add accepted">
                    <div id="menu">
                        <br><br>
                        <h3> {{ jobs.title }}</h3><br>
                        <h4> {{ jobs.joblocation }}</h4><br><hr>
                    <button [routerLink]="['/alljobpost',jobs.postid]" class="btn btn-info btn-lg">View job</button><br>
                    </div>
                    <div class="statusbtn">
                        <button (click)="accept(jobs.postid)" class="btn btn-success" *ngIf="jobs.status!='accepted'">Accept</button>
                        <button (click)="reject(jobs.postid)" class="btn btn-danger" *ngIf="jobs.status!='rejected'">Reject</button>
                        <button (click)="pending(jobs.postid)" class="btn btn-warning" *ngIf="jobs.status!='pending'">Pending</button>
                    </div>
                </div>
                </li>

                <li *ngIf="jobs.status=='rejected'">
                    <div   class="add rejected">
                    <div id="menu">
                    
                        <br><br>
                        <h3> {{ jobs.title }}</h3><br>
                        <h4> {{ jobs.joblocation }}</h4><br><hr>
                    <button [routerLink]="['/alljobpost',jobs.postid]" class="btn btn-info btn-lg">View job</button><br>
                    </div>
                    <div class="statusbtn">
                        <button (click)="accept(jobs.postid)" class="btn btn-success" *ngIf="jobs.status!='accepted'">Accept</button>
                        <button (click)="reject(jobs.postid)" class="btn btn-danger" *ngIf="jobs.status!='rejected'">Reject</button>
                        <button (click)="pending(jobs.postid)" class="btn btn-warning" *ngIf="jobs.status!='pending'">Pending</button>
                    </div>
                </div>
                    </li>

                    <li *ngIf="jobs.status=='pending'">
                        <div   class="add pending">
                        <div id="menu">
                            <br><br>
                            <h3> {{ jobs.title }}</h3><br>
                            <h4> {{ jobs.joblocation }}</h4><br><hr>
                        <button [routerLink]="['/alljobpost',jobs.postid]" class="btn btn-info btn-lg">View job</button><br>
                    </div>
                    <div class="statusbtn">
                        <button (click)="accept(jobs.postid)" class="btn btn-success" *ngIf="jobs.status!='accepted'">Accept</button>
                        <button (click)="reject(jobs.postid)" class="btn btn-danger" *ngIf="jobs.status!='rejected'">Reject</button>
                        <button (click)="pending(jobs.postid)" class="btn btn-warning" *ngIf="jobs.status!='pending'">Pending</button>
                    </div>
                    </div>
                    </li>
                </ul>
            </div>
            </div>

</div>
</div>