<div *ngIf="user" class="container">
    <div class="card" style="width:400px">
        <img class="card-img-bottom" src={{user.photourl}} alt="Display Picture" style="margin:auto;;width:80%">
        <button id="files" onclick="document.getElementById('file').click();return false;" class="btn btn-default btn-lg">Change picture</button>
        <input type="file" (change)="profpic($event.target.files)"  value="choose picc" id="file" accept="image/*" hidden>
        <br>
        <!-- <div *ngIf="editimagemode===false"><button style="width:50%;" (click)="editimage()">Change Image</button></div>
        <div *ngIf="editimagemode===true">
          choose image here:
          <input type="text"> <br>
          <button>Save</button>
          <button (click)="cncleditimage()">Cancel</button>
        </div> -->
        
          <div class="card-header">
            <h2 class="card-title">{{user.username}}</h2>
            <h4 class="card-title"><i>{{user.email}}</i></h4>
            <h2 class="card-title">{{user.nic}}</h2>
            <h2 class="card-title">{{user.gender}}</h2>

            <p class="card-text"><br>This person can be Owner,Admin,Customer,Cleaner or Advertiser.</p>
          </div>
      </div>
</div>