<div class="w3-card w3-round w3-white" style="width:40%;margin: auto">
    <div class="w3-container">
      <h1 class="w3-center">{{user.username}}</h1><hr>
      <p class="w3-center"><img src="{{user.photourl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
      <hr>
      <h5><i class='fas fa-user-tie' style='font-size:15px;color:rgb(199, 52, 52)'></i> FULL NAME : {{user.firstName}} {{user.lastName}}</h5>
      <h5><i class='fas fa-map-marked-alt' style='font-size:15px;color:rgb(54, 111, 202)'></i> JOB LOCATION : {{user.address}}</h5>
      <h5><i class='fas fa-star' style='font-size:15px;color:orange;'></i> RATE : {{user.customerrate}}</h5>
      <h5><i class='fas fa-mobile-alt' style='font-size:15px;color:rgb(73, 177, 47)'></i> CONTACT NUMBER : {{user.telephone}}</h5>
    </div>
  </div>