<div class="row">
  <div class="column" style="background-color:#aaa;">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="column2" style="background-color:#bbb;">
    <P>Admin home</P>
    <!--
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR7hZ14t0hZQDBG-jhd0JG_U7_oQHtFj9mJtYtC31uaNQPg4hDlOjGZnunTxGUfGP5we7CIcMJ47XAY/pubchart?oid=1546564518&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR7hZ14t0hZQDBG-jhd0JG_U7_oQHtFj9mJtYtC31uaNQPg4hDlOjGZnunTxGUfGP5we7CIcMJ47XAY/pubchart?oid=1068427974&amp;format=interactive"></iframe>
    -->
  </div>
</div>