<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <img src="{{this.profurl}}" alt="profile Photo" id="profpic">
        
      <li class="sidebar-brand">
        <a href="#">
            {{this.username}}
        </a>
      </li>
      <li>
        <a [routerLink]="['/advertiserhome']">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/advertiserProfile']">Profile</a>
      </li>
      <li>
        <a [routerLink]="['/statistics']" >Statistics</a>
      </li>
      <li>
        <a href="#">New Ad</a>
      </li>
      <li>
          <a ></a>
      </li>
      
    </ul>
  </div>
</div>