<div class="row">
    <div class="column">
        <app-customer-side></app-customer-side>
    </div>
    <div class="column2">
        <div>
            <h1>All Job Posts</h1>
            <div class="ex3">
            <ul *ngFor="let jobs of job">
              <div>
                  <h5 style="font-size:8mm"> {{ jobs.title }}</h5>
                  <h6 style="font-size:4mm"> {{ jobs.joblocation }}</h6>
                  <button [routerLink]="['/appliedcleaners',jobs.postid]">View applied cleaners</button>
              </div>
              </ul>
            </div>
          </div>
    </div>
  </div>