<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="nav-link" [routerLink]="['/home']">    Tidy Master</a>
    <img src="/../assets/TidyLogo.png" width="50" height="50" alt="TidyLogo" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
         <!--<li class="nav-link">
            <a class="nav-link" [routerLink]="['/jobpost']" *ngIf='authservice.loggedIn()'>Post job</a>
        </li>
        <li class="nav-link">
                <a class="nav-link" [routerLink]="['/adminpanel']" *ngIf='authservice.loggedIn()'>Admin panel</a>
            </li>-->

        <li class="nav-link">
            <a class="nav-link" [routerLink]="['/adminhome']" *ngIf='authservice.adminorsuperadmin'> Dashboard</a>
        </li>
        <li class="nav-link">
            <a class="nav-link" [routerLink]="['/cleanerhome']" *ngIf='authservice.loggedIn()'><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>

        <li class="nav-link">
            <a class="nav-link" [routerLink]="['/viewjobs']"><i class="fa fa-child" aria-hidden="true"></i> Jobs</a>
        </li>
        <li class="nav-link" *ngIf='authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.username}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link" *ngIf='!authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link" *ngIf='!authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link">
            <a class="nav-link" href="#" (click)="logoutUser()" *ngIf='authservice.loggedIn()'><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  