<div>
    <div class="w3-card w3-round w3-white">
        <div>
          <h2 class="w3-center" style="color:rgb(79,191,219);text-shadow: 3px 3px 5px rgb(0, 0, 0);text-transform: uppercase;">{{user.username}}</h2>
          <hr>
          <p class="w3-center"><img src="{{user.photourl}}" class="w3-circle" style="height:70px;width:70px" alt="Display Picture"></p>
          <hr>
        </div>
    </div>
</div>
<div>
    <a [routerLink]="['/getallappliedjobs']" class="btn btn-sm animated-button victoria-one"> All Applied Jobs</a>
    <a [routerLink]="['/getdonejobs']" class="btn btn-sm animated-button victoria-two"> Done Jobs</a>
    <a [routerLink]="['/getnonpaidjobs']" class="btn btn-sm animated-button victoria-one"> Non-Paid Jobs</a>
    <a [routerLink]="['/getpaidjobs']" class="btn btn-sm animated-button victoria-two"> Paid Jobs</a>
    <a [routerLink]="['/runningjobs']" class="btn btn-sm animated-button victoria-two"> Upcoming Jobs</a>
</div>