<div>
    <div class="w3-card w3-round w3-white">
        <div>
          <h3 class="w3-center" style="color:rgb(0, 0, 0);text-transform: uppercase; letter-spacing: 3px;">{{user.username}}</h3>
          <p class="w3-center"><img src="{{user.photourl}}" class="w3-circle" style="height:85px;width:85px" alt="Display Picture"></p>
          <div class="w3-center">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p>{{user.role}}</p>
        </div>
    </div>
</div>
<div><br>
    <a [routerLink]="['/getallappliedjobs']" class="btn btn-sm animated-button victoria-one"> All Applied Jobs</a>
    <a [routerLink]="['/getdonejobs']" class="btn btn-sm animated-button victoria-two"> Done Jobs</a>
    <a [routerLink]="['/getnonpaidjobs']" class="btn btn-sm animated-button victoria-one"> Non-Paid Jobs</a>
    <a [routerLink]="['/getpaidjobs']" class="btn btn-sm animated-button victoria-two"> Paid Jobs</a>
    <a [routerLink]="['/runningjobs']" class="btn btn-sm animated-button victoria-one"> Upcoming Jobs</a>
</div>