<div class="row">
    <div class="column" style="background-color:#aaa;">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="column2" style="background-color:#bbb;">
      <div class="container register">
        
            <select type="submit" [(ngModel)]="selectedValue">
                <option *ngFor="let option of options" value="{{option}}">{{ option }}</option>
              </select>
              
              {{ selectedValue }}
          
      </div>
    </div>
  </div>